
{% extends 'base.html'%}
{% block content %}
<div class="container my-3">
  <form method="post" class="post-form">

    {{ form.csrf_token }}  <!-- token 입력해야 함-->
    {% include "form_errors.html" %} 

    <!-- form 안의  오류표시 Start -->
    {% for field, errors in form.errors.items() %}
    <div class="alert alert-danger" role="alert">
      <strong>{{ form[field].label}}</strong>:{{ ', '.join(errors) }}
    </div>
    {% endfor %}
     <!-- 오류표시 end -->

    <div class="form-group">
      <label for ="content">답변내용</label>
      <!-- 에러시 입력된 값 유지 {{ form.content.data or '' }}-->
      <textarea type="text" class="form-control" name="content" id="content" rows="10">{{ form.content.data or '' }}</textarea>
    </div>

    
    <button type="submit" class="btn btn-primary">저장하기</button>
  </form>

</div>
{% endblock %}
