{% extends 'base.html'%}
{% block content %}
<div class="container my-3">
    <!-- chart-->
    
    <div id="chart_div">
      <img src="{{ image_url }}" alt="Stock Chart">
    </div>
    <div id="chart_div">
      <img src="{{ image_min_url }}" alt="Stock Min Chart">
    </div>
     
   
  <div class="col-4">
      {{ stockcode }}
  </div>
  <table class="table">

    <tbody>

    
      {% if stock_info %}
      <tr class="text-center">
          <th>종목코드</th>
          <th>종목명</th>
          <th>현재가</th>
          <th>시작가</th>
          <th>고가</th>
          <th>저가</th>
          <th>대비</th>
          <th>등락률</th>
      </tr>
      <tr class="text-center">
          <td>{{ stock_info.stockcode }}</td>
          <td>{{ stock_info.stockname }}</td>
          <td>{{ stock_info.currentvalue }}</td>
          <td>{{ stock_info.beginvalue }}</td>
          <td>{{ stock_info.highvalue }}</td>
          <td>{{ stock_info.lowvalue }}</td>
          <td>{{ stock_info.diffval }}</td>
          <td>{{ stock_info.diffrate }}</td>
       </tr>
       <tr class="text-center">
        <th>거래량</th>
        <th>전일거래량</th>
        <th>전일대비거래량</th>
       </tr>
       <tr class="text-center">
          <td>{{ stock_info.tradeval }}</td>
          <td>{{ stock_info.pre_tradeval }}</td>
          <td>{{ stock_info.tvol_vsprevious }}</td>

      </tr>
      <tr class="text-center">
        <th>액면가</th>
        <th>상장주식수</th>
        <th>자본금</th>
        <th>시가총액</th>
        <th>PER</th>
        <th>EPS</th>
        <th>PBR</th>
        <th>융자비율</th>
       </tr>
       <tr class="text-center">
          <td>{{ stock_info.faceval }}</td>
          <td>{{ stock_info.stockvol }}</td>
          <td>{{ stock_info.capital }}</td>
          <td>{{ stock_info.stocksum }}억</td>
          <td>{{ stock_info.per }}</td>
          <td>{{ stock_info.eps }}</td>
          <td>{{ stock_info.pbr }}</td>
          <td>{{ stock_info.debtrate }}</td>
      </tr>

        {% else %}
        <tr>
            <td colspan="11">검색종목이 없습니다.</td>
        </tr>
        {% endif %}
    </tbody>









</table>
  
    <table class="table">
        <thead>
            <tr class="text-center table-dark">
                <th>번호</th>
                <th>날짜</th>
                <th>시가</th>
                <th>고가</th>
                <th>저가</th>
                <th>종가</th>
                <th>변동가격</th>
                <th>거래량</th>
                <th>거래액</th>
                <th>변동사인</th>
                <th>변동폭</th>
            </tr>
        </thead>
        <tbody>
            {% if chart_list %}
            {% for chart in chart_list %}
            <tr class="text-center">
                <td>{{ loop.index }}</td>
                <td>{{ chart.date }}</td>
                <td>{{ chart.beginval }}</td>
                <td>{{ chart.highval }}</td>
                <td>{{ chart.lowval }}</td>
                <td>{{ chart.endval }}</td>
                <td>{{ chart.changeval }}</td>
                <td>{{ chart.tradeval }}</td>
                <td>{{ chart.tradevol}}</td>
                <td>{{ chart.changesign}}</td>
                <td>{{ chart.changevol}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="11">검색종목이 없습니다.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
        <!-- page 처리 시작-->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지-->
            {% if chart_list.has_prev %}
            <li class="page-item">
              <!-- <a class="page-link" href="?page={{ chart_list.prev_num}}">이전</a> -->
              <a class="page-link" data-page="{{ chart_list.prev_num}}" href="#">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
      
            {% for page_num in chart_list.iter_pages() %}
             {% if page_num %}
                {% if page_num != chart_list.page %}
                <li class="page-item">
                  <!-- <a class="page-link" href="?page={{ page_num}}">{{page_num}}</a> -->
                  <a class="page-link" href="#" data-page="{{ page_num}}">{{page_num}}</a>
                </li>
                {% else %}
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">{{page_num}}</a>
                </li>
                {% endif %}
             {% else %} 
                <li class="disabled">
                  <a href="#" class="page-link">...</a>
                </li>
             {% endif %}
            {% endfor %} 
              <!--다음 페이지-->
              {% if chart_list.has_next %}
              <li class="page-item">
                <a class="page-link" href="#" data-page="{{ chart_list.next_num}}">다음</a>
              </li>
             {% else %}
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
              </li>
             {% endif %}
          </ul>
            <!-- 페이징 처리 끝-->





</div>
<form id="searchForm" method="get" action="{{ url_for('kinvestor.stock_detail') }}">
  <input type="hidden" id="stockcode" name="stockcode" value="{{ stockcode}}">
  <input type="hidden" id="kw" name="n" value="{{ kw or '' }}">
  <input type="hidden" id="start_date" name="from" value="">
  <input type="hidden" id="end_date" name="to" value="">
  <input type="hidden" id="page" name="page" value="">
</form>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".page-link").on('click', function(){
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
      });

        // $("#btn_search").on('click',function(){
        //     $("#kw").val($(".kw").val());
        //     $("#page").val(1); // 검색 버튼을 클릭할 경우 1페이지 부터 조회한다.
        //     $("#searchForm").submit();
        // });

        // $(".so").on('change', function(){
        //     $("#so").val($(this).val());
        //     $("#page").val(1);
        //     $("#searchForm").submit();
        // });

        $('#select_so').on('change', function(){
            var selectedOption = $(this).val();
            if(selectedOption == 'tradedate') {
                $('.date-input').hide();
                $('.kw-input').show();
            } else if(selectedOption == 'datefromto') {
                $('.kw-input').hide();
                $('.date-input').show();
            } else {
                $('.date-input').hide();
                $('.kw-input').show();
            }
        });

        $('#btn_search').on('click', function(){
            var selectedOption = $('#select_so').val();
            if(selectedOption == 'tradedate') {
                $('#start_date').val('');
                $('#end_date').val('');
            } else if(selectedOption == 'datefromto') {
                var startDate = $('.start-date').val();
                var endDate = $('.end-date').val();
                $('#start_date').val(startDate);
                $('#end_date').val(endDate);
            }
             $("#kw").val($(".kw").val());
             $("#page").val(1); 
             $('#searchForm').submit();
        });
      // 매수 버튼
       function tradeRun(stockcode, stockname) {
          var url = "{{ url_for('kinvestor.trade_run') }}" + "?stockcode=" + stockcode + "&stockname=" + stockname;
          window.location.href = url;
    }
    });
</script>



    <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable({{gragh_list|safe}}, true);

        var options = {
          title: 'Company Performance',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
</script> -->
{% endblock %}